body {
	background-color: #333;
}
h1, h2 {
	color: #080;
	text-align: center;
}
form {
	color: #0B0;
}
#message {
	color: #0B0;
	font-size: 1.3em;
	text-align: center;
}
input {
	margin-left: 10px;
	margin-right: 10px;
}
.button{
	background-color: #222;
	color: #080;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 5px;
	border: solid 2px #484;
	border-radius: 5px;
	text-align: center;
}
.button:hover{
	background-color: #080;
	color: #222 !important;
}

.VOIR {
	border: 5px solid #0FF;
}